    <!-- Dashboard -->
        <li class="menu-item active">
            <a href="dashboard.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <!-- Trips -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Trips</span>
        </li>

        <!--- Add Trips -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-trip"></i>
                <div data-i18n="Account Settings">Trips</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="newtrip.html" class="menu-link">
                        <div data-i18n="Account">New Trip</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="listtrip.html" class="menu-link">
                        <div data-i18n="Notifications">Trip List</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Flights -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
                <div data-i18n="Authentications">Flights</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="auth-login-basic.html" class="menu-link" target="_blank">
                        <div data-i18n="Basic">New Flight</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="auth-register-basic.html" class="menu-link" target="_blank">
                        <div data-i18n="Basic">Flight List</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Attractions -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-joystick"></i>
                <div data-i18n="Misc">Attractions</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="pages-misc-error.html" class="menu-link">
                        <div data-i18n="Error">List</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="pages-misc-under-maintenance.html" class="menu-link">
                        <div data-i18n="Under Maintenance">New Attraction</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <!-- Restaurants -->
        <li class="menu-item">
            <a href="cards-basic.html" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-store"></i>
                <div data-i18n="Basic">Restaurants</div>
            </a>
        </li>

        <!-- Countries -->
        <li class="menu-item">
            <a href="cards-basic.html" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-flag"></i>
                <div data-i18n="Basic">Countries</div>
            </a>
        </li>

        <!-- Configurations -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Configurations</span>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-cog"></i>
                <div data-i18n="User interface">Configs</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="ui-accordion.html" class="menu-link">
                        <div data-i18n="Accordion">Config 1</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="ui-alerts.html" class="menu-link">
                        <div data-i18n="Alerts">Config 2</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="ui-badges.html" class="menu-link">
                        <div data-i18n="Badges">Config 3</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Resources -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Resources</span>
        </li>

        <li class="menu-item">
            <a href="https://github.com/AlexMFV/" target="_blank"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-pointer"></i>
                <div data-i18n="Support">Github (change later)</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Documentation">Excel Document</div>
            </a>
        </li>